@font-face {
  font-family: "Golos Text";
  src: url("/src/assets/fonts/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/src/assets/fonts/PIXY.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/src/assets/fonts/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/src/assets/fonts/GolosText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("/src/assets/fonts/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PIXY";
  src: url("/src/assets/fonts/PIXY.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

///////////////////
// @font-face {
//   font-family: "Futura PT";
//   src: url("../fonts/FuturaPT-Bold.ttf") format("truetype");
//     url("../fonts/FuturaPT-Bold.ttf") format("ttf");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
