@use "./media-queries.scss";

* {
  font-family: "Golos Text", "PIXY";
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 24px;
  font-weight: 400;
  color: $black;
}

:root {
  --app-height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 17px;
  touch-action: pan-x pan-y;
}

body {
  margin: 0;
  font-size: 14px;
  touch-action: pan-x pan-y;
  overflow-x: hidden;
}

html,
body {
  min-height: 100dvh;
}

// body {
//   outline: 3px solid red; /* Красная рамка для body */

// }

// * {
//   outline: 1px dashed blue; /* Голубая рамка для всех элементов */
// }

body.frozen {
  overflow: hidden;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  pointer-events: none;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

b {
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

strong {
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

b {
  font-weight: 500;
}

#app {
  height: 100%;
}

.content {
  overflow: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: inherit;
  font-family: inherit;
}

button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.relative {
  position: relative;
}

textarea,
input {
  outline: none;
  border: none;
}

.container {
  margin: 0 auto;
}

@include media-queries.media-Xlarge {
  .container {
    max-width: 2160px;
    padding: 40px;
    padding-bottom: 0;
  }
}


@include media-queries.media-large() {
  .container {
    max-width: 1520px;
    padding: 40px;
    padding-bottom: 0;
  }
}

@include media-queries.media-medium() {
  .container {
    max-width: 768px;
    padding: 40px;
    padding-bottom: 0;
  }
}

@include media-queries.media-small() {
  .container {
    max-width: 390px;
    min-width: 300px;
    padding: 40px 20px 0 20px;
  }
}
